<template>
  <div>
    <v-layout justify-center align-center>
      <app-header></app-header>
    </v-layout>
    <v-layout justify-center align-center wrap>
      <v-flex xs12>
        <h1>Страница создания товара</h1>
      </v-flex>
        <v-flex xs12>
            <v-stepper v-model="step">
              <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Общая информация</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="step > 2" step="2">Изображение</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="step > 3" step="3">Связи</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="step > 4" step="4">Финиш</v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card>
                    <v-card-title>
                      <v-flex xs12>
                          <v-text-field
                          placeholder='Название товара'
                          v-model="createProduct.name"
                          ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                          <v-textarea
                          placeholder='Описание товара'
                          v-model="createProduct.description"
                          ></v-textarea>
                      </v-flex>
                      <v-flex xs6>
                          <v-text-field
                          placeholder='Цена товара'
                          v-model="createProduct.price"
                          ></v-text-field>
                      </v-flex>
                      <v-flex xs6>
                          <v-text-field
                          placeholder='Количество товара'
                          v-model="createProduct.quantity"
                          ></v-text-field>
                      </v-flex>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='createBaseProd' 
                            :loading='processing'
                            :disabled='processing'
                            round
                        >
                        Создать и продолжить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="2">
                  <v-card>
                    <v-card-title>
                    <v-flex xs12>
                        <v-card-title> 
                        <span> Изображение: 
                            <input type="file" id="file" ref="prodImg" v-on:change="prodImgChange"/>
                        </span>
                        <v-progress-circular :value="createProduct.imgProgress"></v-progress-circular>
                        </v-card-title>
                    </v-flex>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='prodImgUpload' 
                            :loading='processing'
                            :disabled='processing'
                            round
                        >
                        <v-icon v-html="'cloud_upload'"></v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="3">
                  <v-card>
                    <v-card-title>
                      <v-flex xs12>
                        <h2>Выберите к каким категориям отнести товар</h2>
                      </v-flex>
                      <v-flex xs12>
                        <v-checkbox
                          v-for='(item, index) in prodCategories' :key='index'
                          :id="item.doc" 
                          :value="item.doc"
                          :label="`Checkbox 1: ${item.name}`"
                          v-model="createProduct.checkedCategories"
                        >
                        </v-checkbox>
                      </v-flex>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='prodCatUpload' 
                            :loading='processing'
                            :disabled='processing'
                            round
                        >
                        Сохранить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="4">
                  <h3>
                    Товар успешно создан. Для создания ещё одного товара нажмите 
                    <v-btn @click='oneMoreProduct'>сюда</v-btn>
                  </h3>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
  </div>
</template>

<script>
import AppHeader from '../../../components/AppHeader'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'
import {mapMutations} from 'vuex'

export default { 
  data () {
    return {
      createProduct:{
        name: '',
        description: '',
        price: null,
        img: '',
        quantity: null,
        doc: Math.floor(Date.now() / 1000).toString(),
        date: Date.now().toString(),
        imgProgress: 0,
        checkedCategories: []
      }
    }
  },
  methods: {
    createBaseProd () {
      this.$store.dispatch('admin/createProd/CREATE_PRODUCT', {
        name : this.createProduct.name,
        description: this.createProduct.description,
        price: this.createProduct.price,
        quantity: this.createProduct.quantity,
        doc: this.createProduct.doc,
        date: this.createProduct.date
      })
    },
    oneMoreProduct () {
      this.createProduct.name = ''
      this.createProduct.description = ''
      this.createProduct.price = ''
      this.createProduct.img = ''
      this.createProduct.quantity = null
      this.createProduct.doc = Math.floor(Date.now() / 1000).toString()
      this.createProduct.date = Date.now().toString()
      this.createProduct.checkedCategories = []
      this.$store.commit('admin/createProd/STEPPER', 1)
    },
    prodImgChange () {
      this.createProduct.img = new Blob([this.$refs.prodImg.files[0]], { type: "image/jpeg" })
    },
    prodImgUpload () {
      this.$store.dispatch('admin/createProd/SET_PRODUCT_IMG', {img: this.createProduct.img, doc: this.isDoc})
    },
    prodCatUpload () {
      this.$store.dispatch('admin/createProd/SET_CATEGORIES', this.createProduct)
    }
  },
  computed: {
    processing () {
      return this.getterProcessing
    },
    step () {
      return this.productStep
    },
    ...mapGetters({
      getterProcessing: 'processing',
      isDoc: 'admin/createProd/isDoc',
      isImg: 'admin/createProd/isImg',
      prodCategories: 'admin/createProd/prodCategories',
      productStep: 'admin/createProd/productStep'
    }),
    ...mapActions({
      uploadImg: 'admin/createProd/SET_PRODUCT_IMG'
    }),
    ...mapMutations({
      clearProduct: 'admin/createProd/CREATE_PRODUCT',
      clearProductImg: 'admin/createProd/CREATE_PRODUCT_IMG',
      clearStepper: 'admin/createProd/STEPPER'
    })
  }, 
  components: {
    AppHeader
  },
  async fetch ({store}) {
    await store.dispatch('admin/createProd/GET_CATEGORIES')
  }
}
</script>

