<template>
  <div>
    <v-layout>
      <app-header></app-header>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12 text-xs-center>
        <h2 xs12>Магазин</h2>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm4>
        <v-img :src='product.img'
        >
        </v-img>
      </v-flex>
      <v-flex xs12 sm8>
          <v-layout>
              <v-flex xs12>
                <span>{{product.name}}</span>
              </v-flex>
              <v-flex xs12>
                <span>{{product.description}}</span>
              </v-flex>
              <v-flex xs12>
                <span>{{product.price}}</span>
              </v-flex>
              <v-flex xs12>
                <v-btn @click='buyProduct'>Купить</v-btn>
              </v-flex>
          </v-layout>
      </v-flex>


      <!-- <v-flex xs12 sm12>
        <app-product :product='product'></app-product>
      </v-flex> -->
    </v-layout>
  </div>
</template>
<script>
import AppHeader from '../../components/AppHeader'
import AppProduct from '../../components/shop/AppProduct'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  components: {
    AppHeader,
    AppProduct
  },
  methods: {
    buyProduct () {

    }
  },
  computed: {
    product () {
      return this.singleProduct
    },
    ...mapActions({

    }),
    ...mapGetters({
      singleProduct: 'shop/singlePRODUCT'
    })
  },
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_SINGLE_PRODUCT', route.params.product)
  }
}
</script>
