<template>
  <div>
    <v-layout>
      <app-header></app-header>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12 sm6 text-xs-right>
        <h2>Магазин</h2>
      </v-flex>
      <app-cart-quick></app-cart-quick>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm2>
        <ul>
          <li v-for='(item, index) in getCategories' :key='index'>
            {{item}}
          </li>
        </ul>
      </v-flex>
      <v-flex xs12 sm10>
        <app-product :product='getProducts'></app-product>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import AppHeader from '../../components/AppHeader'
import AppProduct from '../../components/shop/AppProduct'
import AppCartQuick from '../../components/shop/AppCartQuick'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  components: {
    AppHeader,
    AppProduct,
    AppCartQuick
  },
  computed: {
    getProducts () {
      return this.products
    },
    getCategories () {
      return this.categories
    },
    ...mapActions({

    }),
    ...mapGetters({
      products: 'shop/allProducts',
      categories: 'shop/allCategories'
    })
  },
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_PRODUCTS')
    await store.dispatch('shop/GET_CATEGORIES')
  }
}
</script>
