<template>
  <v-flex xs12>
    <v-toolbar app>
      <v-toolbar-title class='headline text-uppercase'>
        <v-btn
            color='pink'
            dark
            @click.stop='drawer = !drawer'
            class='hidden-md-and-up'
          >
            Toggle
        </v-btn>
        <span>My</span>
        <span class='font-weight-light'>App</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class='hidden-sm-and-down'>
        <v-btn flat primary v-for='(link, i) in menuItems' :key='`menuItem${i}`' 
              :to='link.path'
              :nuxt='true'
        >
          {{link.name}}
        </v-btn>
        <v-btn flat primary @click='showRegister' v-if='!loggedUser' :nuxt='true'>
          Регистрация
        </v-btn>
        <v-btn flat primary @click='showLogin' v-if='!loggedUser' :nuxt='true'>
          Войти
        </v-btn>
        <v-btn flat primary v-if='loggedUser' :to="`/cabinet`" :nuxt='true'>
          Мой кабинет
        </v-btn>
        <v-btn flat primary v-if='isAdmin' :to="`/admin`" :nuxt='true'>
          Админ
        </v-btn>
        <v-btn flat primary v-if='loggedUser' @click='signOut' :nuxt='true'>
          Выйти
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-navigation-drawer
      v-model='drawer'
      absolute
      temporary
    >
      <v-list class='pt-0' dense>
        <v-list-tile
          v-for='(link,i) in menuItems'
          :key='`drawerItem${i}`'
        >
          <v-list-tile-content>
            <v-list-tile-title>
              <nuxt-link :to='link.path'>{{link.name}}</nuxt-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <app-register v-if='isShowRegister' :closeRegister='closeRegister'></app-register>
    <app-login v-if='isShowLogin' :closeLogin='closeLogin'></app-login>

    <notifications group="foo" />
  </v-flex>
</template>

<script>
  import AppRegister from './AppRegister'
  import AppLogin from './AppLogin'
  import * as firebase from 'firebase'
  import { mapActions } from 'vuex'
  import { mapMutations } from 'vuex'
  import { mapGetters } from 'vuex'
  export default {
    watchQuery: ['page'],
    data () {
      return {
        drawer: null
      }
    },
    computed: {
      menuItems () {
        return [
          {
            path: '/',
            name: 'Главная',
            icon: ''
          },
          {
            path: '/inspire',
            name: 'Инспайр',
            icon: ''
          },
          {
            path: '/blog',
            name: 'Блог',
            icon: ''
          },
          {
            path: '/shop',
            name: 'Магазин',
            icon: ''
          }
        ]
      },
      isShowLogin () {
        return this.$store.state.user.showLogin
      },
      isShowRegister () {
        return this.$store.state.user.showRegister
      },
      loggedUser () {
        if (this.$store.state.user.user.isAuthenticated){
          return true
        }else{
          return false
        }
      },
      isAdmin () {
        return this.$store.state.user.user.isAdmin
      },
      ...mapGetters({
        emailVeryfied: 'user/emailVeryfied'
      })
    },
    methods: {
      closeLogin () {
        this.$store.commit('user/SHOW_SIGNIN', false)
      },
      closeRegister () {
        this.$store.commit('user/SHOW_REG', false)
      },
      showRegister () {
        this.$store.commit('user/SHOW_REG', true)
      },
      showLogin () {
        this.$store.commit('user/SHOW_SIGNIN', true)
      },
      signOut () {
        this.$store.dispatch('user/SIGNOUT', { login: this.$store.state.user.user.login })
      },
      ...mapActions({
        signout: 'user/SIGNOUT'
      }),
      ...mapMutations({
        openReg: 'user/SHOW_REG',
        openSignIn: 'user/SHOW_SIGNIN'
      })
    },
    components: {
      AppRegister,
      AppLogin
    },
    created () {
      // if (this.$cookie.get('userId') != null) {
      //   firebase.firestore().collection('users').doc(this.$cookie.get('userId')).get()
      //   .then((doc) => {
      //     let result = doc.data()
      //     if (result != undefined){
      //       this.$store.commit('user/SET_USER', result)
      //     }else{
      //       this.$store.commit('user/UNSET_USER', doc.data())
      //     }
      //   })
      // }
    }
  }
</script>

<style>

</style>
