<template>
  <v-flex xs12 sm6 text-xs-right>
    <v-badge left>
      <span slot="badge">{{productsInCart.length}}</span>
      <v-icon
      large
      color="grey lighten-1"
      >
      shopping_cart
      </v-icon>
    </v-badge>
    <v-card v-for='(item, index) in productsInCART' :key='index'>
      <v-card-title>
        <v-img :src='item.img'></v-img>
        <h2>{{item.name}}</h2>
        <span>{{item.price}}</span>
      </v-card-title>
      <v-card-actions>
        <v-btn @click='removeFromCart(item.id)'>Удалить из козины</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapMutations} from 'vuex'

export default {
  props: [],
  data () {
    return {

    }
  },
  methods: {
    removeFromCart (item) {
      this.$store.commit('shop/REMOVE_PRODUCT_FROM_CART', item)
    }
  },
  computed: {
    productsInCart () {
      return this.productsInCART
    },
    ...mapGetters({
      productsInCART: 'shop/productsInCART'
    }),
    ...mapMutations({
      removeProduct: 'shop/REMOVE_PRODUCT_FROM_CART'
    })
  },
  created () {
    // sessionStorage.forEach((item)=>{
    //   console.log(item)
    // })
    //console.log(JSON.parse(sessionStorage.getItem(payload.id)))
    //console.log(sessionStorage)
  }
}
</script>
