<template>
  <v-layout wrap>
    <v-flex xs12 sm3 text-xs-center v-for="(item, index) in product" :key='index'>
      <v-card>
        <v-img :src='item.img'></v-img>
        <v-card-title>
          <v-flex xs12>
            <h3>
              <nuxt-link :to="`shop/${item.id}`">
                {{item.name}}
              </nuxt-link>
            </h3>
          </v-flex>
          <v-flex xs6>
            <span>{{item.price}}</span>
          </v-flex>
          <v-flex xs6>
            <span>{{item.quantity}}</span>
          </v-flex>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn @click='addToCart(item)'>
            Купить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapMutations} from 'vuex'

export default {
  props:['product'],
  methods: {
    addToCart (item) {
      this.$store.commit('shop/ADD_PRODUCT_TO_CART', item)
    }
  },
  computed: {
    ...mapMutations({
      addToCART: 'shop/ADD_PRODUCT_TO_CART'
    })
  }
}
</script>
