<template>
  <v-app :dark='isDark'>
    <v-content>
      <v-container
        grid-list-md
      >
        <nuxt :changeMode='changeMode' />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        menuItems: [],
        isDark: 'dark',
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
        ],
        title: 'Vuetify.js'
      }
    },
    methods: {
      changeMode () {
        this.isDark = ''
      }
    },
    created () {
      
    }
  }
</script>
<style lang='scss'>
  img{
    max-width: 100%;
  }
</style>
