<template>
    <v-layout column justify-center align-center>
        <app-header></app-header>
        <v-content>
            <h1>blog page</h1>

            <h2>Статьи:</h2>
            <ul v-if='getPosts'>
                <li v-for='(item, index) in getPosts' :key='index'>
                  <h2>
                    <nuxt-link :to="`blog/${item.doc}`" :key="index" :nuxt='true'>
                      {{item.title}}
                    </nuxt-link>
                  </h2>
                  <p>{{item.message}}</p>
                  <h3>{{item.author}}</h3>
                  <h3>{{item.id}}</h3>
                  <h3>Номер документа {{item.doc}}</h3>
                </li>
            </ul>
        </v-content>
    </v-layout>
</template>

<script>
import AppHeader from '../../components/AppHeader'
import { mapActions } from 'vuex'

export default {
  layout: 'default',
  computed: {
    getPosts () {
      return this.$store.state.posts.posts
    }
  },
  components: {
    AppHeader
  },
  async fetch ({ store, params}) {
    await store.dispatch('posts/GET_POSTS')
  }
}
</script>
