<template>
  <div>
    <v-layout justify-center align-center>
      <app-header></app-header>
    </v-layout>
    <v-layout justify-center align-center>
      <h1>Текст на главной странице</h1>
    </v-layout>
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader'
export default {
  components: {
    AppHeader
  }
}
</script>

