<template>
  <div>
    <v-layout justify-center align-center>
      <app-header></app-header>
    </v-layout>
    <v-layout justify-center align-center wrap>
      <v-flex xs12>
        <h1>Страница создания категории</h1>
      </v-flex>
        <v-flex xs12>
            <v-tabs>
              <v-tab>
                Общая информация
              </v-tab>
              <v-tab :disabled="isDoc == ''">
                Изображение
              </v-tab>
              <v-tab-item>
                <v-card>
                  <v-card-title>
                  <v-flex xs12>
                      <v-text-field
                      placeholder='Название категории'
                      v-model="createCategory.name"
                      ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                      <v-textarea
                      placeholder='Описание категории'
                      v-model="createCategory.description"
                      ></v-textarea>
                  </v-flex>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn @click='createBaseCat' 
                          :loading='processing'
                          :disabled='processing'
                          round
                      >
                      Создать и продолжить
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card>
                  <v-card-title>
                  <v-flex xs12>
                      <v-card-title> 
                      <span> Изображение: 
                          <input type="file" id="file" ref="catImg" v-on:change="catImgChange"/>
                      </span>
                      <v-progress-circular :value="createCategory.imgProgress"></v-progress-circular>
                      </v-card-title>
                  </v-flex>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn @click='catImgUpload' 
                          :loading='processing'
                          :disabled='processing'
                          round
                      >
                      <v-icon v-html="'cloud_upload'"></v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-layout>
  </div>
</template>

<script>
import AppHeader from '../../../components/AppHeader'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default { 
  data () {
    return {
      createCategory:{
        name: '',
        description: '',
        img: '',
        imgProgress: 0
      }
    }
  },
  methods: {
    createBaseCat () {
      this.$store.dispatch('admin/createCat/CREATE_CATEGORY', {
        name : this.createCategory.name,
        description: this.createCategory.description,
        doc: Math.floor(Date.now() / 1000).toString(),
        date: Date.now().toString()
      })
    },
    catImgChange () {
      this.createCategory.img = new Blob([this.$refs.catImg.files[0]], { type: "image/jpeg" })
    },
    catImgUpload () {
      this.$store.dispatch('admin/createCat/SET_CAT_IMG', {img: this.createCategory.img, doc: this.isDoc})
    }
  },
  computed: {
    processing () {
      return this.getterProcessing
    },
    ...mapGetters({
      getterProcessing: 'processing',
      isDoc: 'admin/createCat/isDoc'
    }),
    ...mapActions({
      uploadImg: 'admin/createCat/SET_CAT_IMG'
    })
  }, 
  components: {
    AppHeader
  }
}
</script>

